* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 500px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.heading h1 {
    margin-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}

.genpassfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(40, 40, 230);
    height: 10%;
    position: relative;
    width: 90%;
}
.genpassfield {
    color: rgb(255, 255, 255);
}
.firstPart{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.firstPart p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-bottom: 10px;
}
/* #copyBtn {
    color: aliceblue;
    margin-right: 10px;
    position: absolute;
}

#copyBtn #copiedText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

.secondPart {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.secondPart label{
    margin-left: 10px;

}
.btn #genPass {
    background-color: rgb(40, 40, 230);
    outline: none;
    font-weight: bold;
    border: none;
    padding: 10px 35px;
    border-radius: 3px;
    margin-bottom: 2rem;
    color: aliceblue;
    transition: all 0.3s ease;
}

.btn #genPass:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.checkbox-wrapper-48 {
    --gray: #636e72;
    --very-light-gray: #eee;
    --light-gray: #9098A9;
    --x-light-gray: #dfe6e9;
    --gradient: linear-gradient(180deg, #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);
}

.checkbox-wrapper-48 label {
    /* margin-right: 5rem; */
    font-size: 1.2em;
}

.checkbox-wrapper-48 input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    font: inherit;
    border: 0.1em solid var(--light-gray);
    margin-bottom: -0.125em;
}

.checkbox-wrapper-48 input[type=checkbox] {
    border-radius: 0.25em;
}

.checkbox-wrapper-48 input:checked {
    border-color: transparent;
    background: var(--gradient) border-box;
    box-shadow: 0 0 0 0.1em inset #fff;
}

.checkbox-wrapper-48 input:not(:checked):hover {
    border-color: transparent;
    background: linear-gradient(#fff, #fff) padding-box, var(--gradient) border-box;
}

/* Responsive Design  */

@media(max-width:480px){
    .container{
        height: 500px;
        width: 400px; 
    }
    .heading h1{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: x-large;
    }
    .genpassfield{
        /* height: ; */
        width: 85%;
    }
    .firstPart p{
        font-size: medium;
    }
    .checkbox-wrapper-48 label {
        /* margin-right: 5rem; */
        font-size: 1em;
    }
}